# STM32 Project
/stm32/WORKSPACE/.metadata
/stm32/WORKSPACE/nucleoF411_base/*.o
/stm32/WORKSPACE/nucleoF411_base/mbed_shield/src/*.o
/stm32/WORKSPACE/nucleoF411_base/mbed_shield/src/*.o
/stm32/WORKSPACE/nucleoF411_base/STM32F4xx_HAL_Driver/src/*.o
/stm32/WORKSPACE/nucleoF411_base/startup/*.o
/stm32/WORKSPACE/nucleoF411_base/src/*.o
/stm32/WORKSPACE/nucleoF411_base/*.bin
/stm32/WORKSPACE/nucleoF411_base/*.elf*
/stm32/WORKSPACE/nucleoF411_base/*.hex
/stm32/WORKSPACE/nucleoF411_base/*.nfs*
/stm32/WORKSPACE/nucleoF411_base/*.dbginit
/stm32/WORKSPACE/nucleoF411_base/*.mxproject
/stm32/WORKSPACE/nucleoF411_base/*.project
/stm32/WORKSPACE/nucleoF411_base/*.cproject
/stm32/WORKSPACE/nucleoF411_base/.dep/
/stm32/WORKSPACE/nucleoF411_base/.settings/
/stm32/WORKSPACE/nucleoF411_base/config/

# ElectronJS
/app/node_modules/

# Database
/sensor_database.db