body {
  font-family: Arial, sans-serif;
  padding: 10px 12px;
  background-color:rgb(245, 245, 245);
}
body  > .container{
    height: 80vh;
}
body  > .container.measure{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/* Header */
.tab-header {
  display: flex;
  border-bottom: 1px solid #ccc;
  margin-bottom: 23px;
}
.tab-link {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  text-decoration: none;
  color: #555;
  transition: color 0.3s, border-bottom 0.3s;
  position: relative;
}

.tab-link i {
  margin-right: 8px;
}

.tab-link.active {
  color: #ff6f61;
  border-bottom: 3px solid #ff6f61;
}

.tab-link:hover {
  color: #ff6f61;
}
.container.measure .row{
    height: 48%;
}
.container.measure .col{
  border-radius: 20px;
  background-color: white;
}
.container.measure.measure .row{
    display: flex;
    justify-content: space-between;
}
.container.measure .row .col.left {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container.measure .row .col.left .col-title {
  margin: 0;
  transform: translateY(-11px);
  font-size: 18px;
}
.container.measure .row .col.right {
    width: 68%;
    position: relative;
}
.container.measure .row .col.right .date-select{
    position: absolute;
    top: 7px;
    right: 12px;
}
.custom-date-dialog {
  display: none;
  position: absolute;
  top: 15px;
  right: 15px;
  border: 1px solid #ccc;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.custom-date-dialog .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.custom-date-dialog .submit-btn, .close-dialog {
  background-color: none;
  border: none;
  padding: 8px 12px;
}
.custom-date-dialog .submit-btn{
  background-color: #ff6f61;
  color: white;
}
.custom-date-dialog .close-dialog{
  color: #ff6f61;
  border: 1px solid #ff6f61;
}
.container.measure .row .col .container{
  position: relative;
}
.circular-progress {
    --progress: 0;
    --size: 150px;
    --half-size: calc(var(--size) / 2);
    --stroke-width: 15px;
    --radius: calc((var(--size) - var(--stroke-width)) / 2);
    --circumference: calc(var(--radius) * 3.14 * 2);
    --dash: calc((var(--progress) * var(--circumference)) / 100);
  }

.circular-progress + .percent-text {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
.circular-progress + .percent-text p {
    display: flex;
  }
.circular-progress + .percent-text .number {
    font-size: 36px;
  }
.circular-progress + .percent-text .unit {
    font-size: 30px;
  }
.circular-progress.humidity + .percent-text .unit {
    font-size: 22px;
  }

  .circular-progress circle {
    cx: var(--half-size);
    cy: var(--half-size);
    r: var(--radius);
    stroke-width: var(--stroke-width);
    fill: none;
    stroke-linecap: round;
  }
  
  .circular-progress circle.bg {
    stroke: #ddd;
  }
  
  .circular-progress circle.fg {
    transform: rotate(-90deg);
    transform-origin: var(--half-size) var(--half-size);
    stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
    transition: stroke-dasharray 0.7s linear 0s,
                stroke .6s;
    stroke: url(#blue);
  }